<!DOCTYPE html>
<html>
<head>
    <title>Email Status</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/styles.css') }}">
</head>
<body>
    <div class="heading"><h1>Email Status</h1></div>
    <div class="contents">
    {% if email_sent %}
        <p>Email sent successfully!</p>
    {% else %}
        <p>Failed to send email. Please check your email address or try again later.</p>
    {% endif %}
    </div>
    <footer><a href="/">Back to Input</a></footer>
</body>
</html>
